<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/users/login">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav col-auto mr-auto">
      <li class="nav-item" id="homeli">
        <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" id="myfali">
        <a class="nav-link" href="/myfavorites">My Favorities</a>
      </li>
      <li class="nav-item" id="myreli">
        <a class="nav-link" href="/myresources">My Resources</a>
      </li>
      <li class="nav-item" id="mycreateli">
        <a class="nav-link" href="/createresource">+Resources</a>
      </li>
    </ul>
    <ul class="navbar-nav col-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    
  </div>
</nav>