<header>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/resources'>Resources</a></li>
      <li><a href='/myfavorites'>My Favorites</a></li>
      <li><a href='/myresources'>My Resources</a></li>
      <li><a href='/submit-resource'>Create Resources</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/logout'>Logout</a></li>
    </ul>
  </nav>
</header>
