<header>
  <nav>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/myresources'>My Resources</a></li>
      <li><a href='/submit-resource'>Create Resources</a></li>
      <li><a href='/login'>Login</a></li>
      <li><a href='/logout'>Logout</a></li>
      <li>
        <form action='/resources/search' id="search" method='get'>
          <input type='search' id='query' placeholder='Search...'>
          <button type='submit'>Go</button>
        </form>
      </li>
    </ul>
  </nav>
</header>
