<!DOCTYPE html>
<html>
  <head>
    <title>All Resources</title>
  </head>
  <body>
    <h1>All Resources</h1>
    <ul>
      <% for (let i = 0; i < resources.length; i++) { %>
        <li><%= resources[i].name %></li>
      <% } %>
    </ul>
  </body>
</html>
