<!DOCTYPE html>
<html>
  <head>
    <title>All Resources</title>
  </head>
  <body>
    <h1>All Resources</h1>
    <ul>
      <% for (let i = 0; i < resources.length; i++) { %>
        <li>
          <a href="/resources/<%= i%>">
          <%= resources[i].title %>
          </a>
        </li><br>
      <% } %>
    </ul>
  </body>
</html>
