<%- include('partials/_head') %> 
  
</head>

<body>
  <%- include('partials/_header') %>

  <h1 style = "text-align: center;">Resource Wall</h1>
  
  
  <div class="album py-5 bg-light">
    <div class="container">

      <h3 class="topic">Education</h3>
      <div class="row" id="row1">

      </div>
      <h3 class="topic">Animals</h3>
      <div class="row" id="row2">

      </div>
      <h3 class="topic">Sports</h3>
      <div class="row" id="row3">

      </div>
      <h3 class="topic">Video</h3>
      <div class="row" id="row4">

      </div>
    </div>
  </div>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha512-aUhL2xOCrpLEuGD5f6tgHbLYEXRpYZ8G5yD+WlFrXrPy2IrWBlu6bih5C9H6qGsgqnU6mgx6KtU8TreHpASprw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/scripts/network.js"></script>
  <script defer src="/scripts/index.js"></script>
  <script defer src="/scripts/app.js"></script>
  
</body>

</html>
