<%- include('partials/_head') %>

<body>
  <%- include('partials/_header') %>

  <h1 style = "text-align: center;">My Resources</h1>
  
  <section id="my-favorite">
      <div class="container">
          <h3>My Favorites</h3>
          <div class="row" id="row1">
      </div>
  </section>

  <section id="my-own-resource">
      <div class="container">
          <h3>My Own Resources</h3>
          <div class="row" id="row2">
      </div>
  </section>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script defer src="/scripts/network.js"></script>
  <script defer src="/scripts/myresource.js"></script>
  <script defer src="/scripts/app.js"></script>
</body>

</html>