<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resource Wall</title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/styles/login.css" />
  
</head>
  <body class="text-center">
    <form class="form-signin" id="form-signin">
      <img
        class="mb-4"
        src="/img/register.jpg"
        alt=""
        width="144"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Register</h1>
      <label for="inputName" class="sr-only">User name</label>
      <input
        type="text"
        name="name"
        id="inputName"
        class="form-control"
        placeholder="User name"
        required
        autofocus
      />
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        name="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        name="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Register
      </button>
    </form>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/network.js"></script>
    <script defer src="/scripts/app.js"></script>
  </body>
  
</html>
