<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Submit New Resource</title>
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Submit Resource</h1>
    <form action="/resources/submit-resource" method="POST">
      <label for="img_url">Image URL:</label>
      <input type="text" name="img_url" id="img_url"><br>

      <label for="url">URL:</label>
      <input type="text" name="url" id="url"><br>

      <label for="title">Title:</label>
      <input type="text" name="title" id="title"><br>

      <label for="description">Description:</label>
      <textarea name="description" id="description"></textarea><br>

      <button type="submit"> Submit </button>
    </form>
  </body>
</html>

<!-- update this to function with created at while updated at is for later -->
